<a href="https://colab.research.google.com/github/IANDE-X/Trial-code/blob/main/IANMWFCHL6EP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:LISTS ----THIS LIST IS ABOUT 10 VAIRABLES(COUNTRIES)
1. Below  Country  Population variables in millions

In [8]:
US=10
UK=50
HU=31
SA=60
UG=57
TZ=89
FN=78
KE=90
AU=45
JP=90

a.From the given variables above create list of population

In [3]:
population=[10,50,31,60,57,89,78,90,45,90]
#Print out population 
print(population)

[10, 50, 31, 60, 57, 89, 78, 90, 45, 90]

b. Create anew list information as list of lists

In [9]:
countries_1=[
    
    ["United States", US],
    ["United Kingdom",UK],
    ["Hungary",HU],
    ["South Africa",SA],
    ["Uganda",UG],
    ["Tanzania",TZ],
    ["Finland",FN],
    ["Australia",AU],
    ["Kenya",KE],
    ["Japan",JP]

    ]
#Print out the countries
print(countries_1)
#Print out the type of thr countries
print(type(countries_1))

[['UnitedStates', 10], ['United Kingdom', 50], ['Hungary', 31], ['South Africa', 60], ['Uganda', 57], ['Tanzania', 89], ['Finland', 78], ['Australia', 45], ['Kenya', 90], ['Japan', 90]]
<class 'list'>

c . Adapt list areas

In [15]:
population=["United States",US,"United Kingdom",UK,"Hungary",HU,"South Africa",SA,"Uganda",UG,"Tanzania",TZ,"Finland",FN,"Australia",AU, "Kenya",KE,"Japan",JP]
#Print population 
print(population)

['United States', 10, 'United Kingdom', 50, 'Hungary', 31, 'South Africa', 60, 'Uganda', 57, 'Tanzania', 89, 'Finland', 78, 'Australia', 45, 'Kenya', 90, 'Japan', 90]

d .Looking at individual element in list. Given the list below

In [16]:
population=["United States", 10, "United Kingdom", 50, "Hungary", 31, "South Africa", 60, "Uganda", 57,"Tanzania", 89, "Finland", 78, "Australia", 90, "Kenya", 45, "Japan", 90]
#Print out second element 
print(population[1])
#Print out  the last element
print(population[-1]) 
#Print out the  usian population
print(population[5])

10
90
31

e .Replacing elements in a list. Given the list below

In [18]:
population=["United States", 10, "United Kingdom", 50, "Hungary", 31, "South Africa", 60, "Uganda", 57,"Tanzania", 89, "Finland", 78, "Australia", 90, "Kenya", 45, "Japan", 90]
#correct us population
population[1]=111
#Change "hungaryian" to "magyar"
population[6]="Greece"
print(population)

['United States', 111, 'United Kingdom', 50, 'Hungary', 31, 'Greece', 60, 'Uganda', 57, 'Tanzania', 89, 'Finland', 78, 'Australia', 90, 'Kenya', 45, 'Japan', 90]

f.Extending elements in a list. Given list below create the areas list and make some changes

In [21]:
population=["United States", 10, "United Kingdom", 50, "Hungary", 31, "South Africa", 60, "Uganda", 57,"Tanzania", 89, "Finland", 78, "Australia", 90, "Kenya", 45, "Japan", 90]
#Add CANADA data to population, new list is population_1
population_1=population+["Canada", 66]
#Add Ethiopia data to population_1, new list is population_2
population_2 = population_1 + ["Ethiopia",15.45]
print(population_1) # print pop 1
print(population_2)#print pop 2

['United States', 10, 'United Kingdom', 50, 'Hungary', 31, 'South Africa', 60, 'Uganda', 57, 'Tanzania', 89, 'Finland', 78, 'Australia', 90, 'Kenya', 45, 'Japan', 90, 'Canada', 66]
['United States', 10, 'United Kingdom', 50, 'Hungary', 31, 'South Africa', 60, 'Uganda', 57, 'Tanzania', 89, 'Finland', 78, 'Australia', 90, 'Kenya', 45, 'Japan', 90, 'Canada', 66, 'Ethiopia', 15.45]

g. Appending element to list. Given the list of population

In [24]:
population=[10,50,31,60,57,89,78,90,45,90]
#Use append twice to add canada and Ethipia population
population.append(66)
population.append(15.45)
# Print out population
print(population)
# Reverse the orders of the elements in population
population.reverse()
# Print out population
print(population)

[10, 50, 31, 60, 57, 89, 78, 90, 45, 90, 66, 15.45]
[15.45, 66, 90, 45, 90, 78, 89, 57, 60, 31, 50, 10]

2.TUPLES----THIS TUPLE IS ABOUT CITIES AND POPULATION IN MILIONS

1.Below Cities Population variables in millions

In [11]:
NY=6
MU=2
OS=1
TO =1.5
BP=2
LA=5
BA=4
BJ=6
HK=3
SJ=7

a.From the given variables above create list of population

In [1]:
citiespopulation=[6,2,1,1.5,2,5,4,6,3,7]
#Print out population 
print(citiespopulation)

[6, 2, 1, 1.5, 2, 5, 4, 6, 3, 7]

b. Create anew list information as list of lists

In [14]:
cities_2=(
    
("Newyork", NY),
("Mumbai ",MU),
("Oslo",OS),
("Toronto ",TO),
("Budapest ",BP),
("Los Angeles ",LA),
("Bueno Aires ",BA),
("Beijing ",BJ),
("Honk Kong ",HK),
("San Jose ",SJ)


)
#Print out the new 
print(cities_2)
#Print out the type of this list  
print(type(cities_2))

(('Newyork', 6), ('Mumbai ', 2), ('Oslo', 1), ('Toronto ', 1.5), ('Budapest ', 2), ('Los Angeles ', 5), ('Bueno Aires ', 4), ('Beijing ', 6), ('Honk Kong ', 3), ('San Jose ', 7))
<class 'tuple'>

c .Adapt list population

In [26]:
population=("NewYork",NY,"Mumbai",MU,"Oslo",OS,"Toronto",TO,"Budapest",BP,"Los Angeles",LA,"Bueno Aires",BA,"Beijing",BJ, "Hong Kong",HK,"San Jose",SJ)
#Print population 
print(population)

('NewYork', 6, 'Mumbai', 2, 'Oslo', 1, 'Toronto', 1.5, 'Budapest', 2, 'Los Angeles', 5, 'Bueno Aires', 4, 'Beijing', 6, 'Hong Kong', 3, 'San Jose', 7)

d .Looking at individual element in list. Given the list below

In [28]:
population=("New York", 6, "Mumbai", 2, "Oslo", 1, "Toronto", 1.5, "Budapest", 2,"Los Angeles", 5, "Bueno Aires", 4, "Beijing", 6, "Hong Kong", 3, "San Jose", 7)
#Print out second element 
print(population[1])
#Print out  the last element
print(population[-1]) 
#Print out the  usian population
print(population[5])

6
7
1

e .Replacing elements in a list. Given the list below

In [32]:
population=("New York", 6, "Mumbai", 2, "Oslo", 1, "Toronto", 1.5, "Budapest", 2,"Los Angeles", 5, "Bueno Aires", 4, "Beijing", 6, "Hong Kong", 3, "San Jose", 7)
#correct NY  population
x= list(population)# change to list 
x[1]=18# using it as list 
#Change "TORONTO " to "Panama"
x[6]="Panama"
population=tuple(x)# change back to tuple 
print(population)

('New York', 18, 'Mumbai', 2, 'Oslo', 1, 'Panama', 1.5, 'Budapest', 2, 'Los Angeles', 5, 'Bueno Aires', 4, 'Beijing', 6, 'Hong Kong', 3, 'San Jose', 7)

f.Extending elements in a list. Given list below create the areas list and make some changes

In [34]:
population=("New York", 6, "Mumbai", 2, "Oslo", 1, "Toronto", 1.5, "Budapest", 2,"Los Angeles", 5, "Bueno Aires", 4, "Beijing", 6, "Hong Kong", 3, "San Jose", 7)
#Add NY data to population, new list is population_1
population_1=population+("Panama", 3.6)
#Add Jerusalem data to population_1, new list is population_2
population_2 = population_1 + ("Jerusalem",15.45)
print(population_1) # print pop 1
print(population_2)#print pop 2

('New York', 6, 'Mumbai', 2, 'Oslo', 1, 'Toronto', 1.5, 'Budapest', 2, 'Los Angeles', 5, 'Bueno Aires', 4, 'Beijing', 6, 'Hong Kong', 3, 'San Jose', 7, 'Panama', 3.6)
('New York', 6, 'Mumbai', 2, 'Oslo', 1, 'Toronto', 1.5, 'Budapest', 2, 'Los Angeles', 5, 'Bueno Aires', 4, 'Beijing', 6, 'Hong Kong', 3, 'San Jose', 7, 'Panama', 3.6, 'Jerusalem', 15.45)

g. Appending element to list. Given the list of population

In [35]:
population=[6,2,1,1.5,2,5,4,6,3,7]
#Use append twice to add Panam and Jerusalema population
population.append(3.6)
population.append(15.45)
# Print out population
print(population)
# Reverse the orders of the elements in population
population.reverse()
# Print out population
print(population)

[6, 2, 1, 1.5, 2, 5, 4, 6, 3, 7, 3.6, 15.45]
[15.45, 3.6, 7, 3, 6, 4, 5, 2, 1.5, 1, 2, 6]

3.SETS
1. Below are area variables in square meters

In [41]:
N=11
O=16
E=24
J=18
W=19
B=15
L=18
C=21
S=26
P=67

a) From the given variables above create list areas

In [38]:
age={11,16,24,18,19,15,18,21,12,67}
#Print age
print(age)

{67, 11, 12, 15, 16, 18, 19, 21, 24}

b) Create a house information as list of lists

In [52]:
thisset=set((
    ("Noah",N),
    ("Oliver",O),
    ("Elijah",E),
    ("John", J),
   ("William",W),
    ("Brian",B),
    ("Lucas", L),
    ("Carlos",C),
    ("Sammy",S),
    ("Paul",P)

))
#Print out names
print(thisset)
#Print out the type of names
print(type(thisset))

{('William', 19), ('Paul', 67), ('Sammy', 26), ('Carlos', 21), ('Noah', 11), ('Lucas', 18), ('Brian', 15), ('John', 18), ('Oliver', 16), ('Elijah', 24)}
<class 'set'>

c.Adapt set ages

In [57]:
age={"Noah",N,"Oliver",O,"Elijah",E,"John",J,"William",W, "Brian",B,"Lucas",L, "Carlos",C, "Sammy",S, "Paul",P}
#Print agess
print(age)

{'Lucas', 11, 15, 16, 'William', 18, 19, 21, 'John', 24, 26, 'Noah', 'Elijah', 67, 'Carlos', 'Paul', 'Brian', 'Oliver', 'Sammy'}

d.) Looking at individual element in list. Given the list below

In a set we can not perform indexing, first, we have to convert that set into a list and then perform the indexing. So we are using the Python list() function to convert the set into the list.

In [64]:
age={"Noah", 11, "Oliver", 16, "Elijah", 24, "John", 18, "William", 19,"Brian", 15, "Lucas", 18, "Carlos", 21, "Sammy", 26, "Paul", 67}
#Print out second element 
print("1st index: ", list(age)[0])
#Print out  the last element
print("last index: ", list(age)[-1])
#Print out the  age #6
print("5th index: ", list(age)[6])

1st index:  Lucas
last index:  Elijah
5th index:  16

e.e) Replacing elements in a set
*****
ANS IS:
Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

f.f) Extending elements in a list. Given list below create the areas list and make some changes

g.g) Appending element to list. Given the set

In [66]:
age={11,16,24,18,19,15,18,21,12,67}
# Use add twice to add ages 13 and 9 
age.add(13)
age.add(9)
# Print out ages
print(age)
# Reverse the orders of the elements in cant work as the items are immutable

{67, 9, 11, 12, 13, 15, 16, 18, 19, 21, 24}

Lists, MUtable , Tuples Mutable but Sets are immutable hence some functionalities like changing / updating a avalue are not possible , reversing also 


FINISHED:Friday  10/3/2023
FCHL6E!